{% extends 'base.html' %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    Delete Post
                </legend>
                <h2>Are you sure you want to delete the post "{{ post.title }}" ?</h2>
                <div class="form-group">
                    <button class="btn btn-danger" type="submit">Yes, Delete</button>
                    <a class="btn btn-secondary" href="{% url 'post-detail'  post.id %} ">Cancel</a>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}
