{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    Log in
                </legend>
                {{ form|crispy }}
                <div class="form-group">
                    <button class="btn btn-info" type="submit">Log in</button>
                </div>
            </fieldset>
        </form>
    <div class="border-top pt-3">
        <small class="text-muted">Need an account?<a class="ml-2" href="{% url 'users-register' %}">Sign up now</a></small>
    </div>
    </div>
{% endblock %}
